body{
    background-color: black;
}
h1{
    font-size: 3rem;
}
.poster{
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    color: white;
    text-align: center;
}
.motivate{
    width: 100%;
    border: 5px,solid,white;
}