    .subscribe-button {
        background-color: rgb(200, 0, 0);
        color: white;
        border: none;
        border-radius: 2px;
        cursor: pointer;
        margin-right: 8px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 16px;
        padding-right: 16px;
        transition: opacity 0.15s;
        vertical-align: top;
    }

    .subscribe-button:hover {
        opacity: 0.7;
    }

    .subscribe-button:active {
        opacity: 0.3;
    }

    .join-button {
        background-color: white;
        border: rgb(45, 45, 232);
        border-style: solid;
        border-width: 1px;
        color: rgb(45, 45, 232);
        border-radius: 2px;
        cursor: pointer;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 16px;
        padding-right: 16px;

        transition: background-color 0.15s,
        color 0.15s;
    }

    .join-button:hover{
        background-color: rgb(45, 45, 232);
        color:white;
    }

    .join-button:active{
        opacity: 0.7;
    }

    .twwet-button {
        background-color: rgb(0, 59, 236);
        color: white;
        border: none;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 16px;
        padding-right: 16px;
        border-radius: 18px;
        font-weight: bold;
        font-size: 15px;
        cursor: pointer;
        transition: box-shadow 0.15s;
    }

    .twwet-button:hover{
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    }