body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}
.tile-image{
  float: left;
  width: 200px;
  margin-right:50px;
}
footer {
  text-align: right;
  color: midnightblue;
}
.Creative {
  color : darkblue;
}
.left{
  float : left;
}
.right{
  float: right;
}
.card{
  width: 45%;
}
@media(max-width: 600px){
  .logo{
    width:100px;
  }
  h1{
    font-size: 3rem;
    text-align: center;
  }
}